body{
    margin: 0;
    padding: 0;
    color:#ffffff ;
    background-color:#00acee
}

#inputForm{
   width:90%
}
.container-fluid{
    height: 95vh;
     display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.row justify-content-center{
   flex-grow: 5;
   
}
#nav{
    padding:2vh !important;
    width: 100% !important;
    position:fixed;
    background-color:#00acee;
    z-index: 20;
  
}
 
  
a{
    color:inherit;text-decoration:none;
}